
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
   
}

/*header*/

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
}

header .banner {
    display: inline-flex;
    font-size: 50px;
    font-family: serif;
}

header .links {
    display: inline-flex;
    float: right;
     }

ul li {
    display: inline-flex;
    text-decoration: underline;
}

    /* landing screen */

.Mission {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../resources/images/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 700px; 
}

.missiontext {
    text-align: center;
    width: 100%;
    background-color: black;
    
}


    /* 2nd part */

.part2 {
    display: block;
    margin: auto;
    width: 1000px;
    
    
}

.totm {
    display: block;
    text-align: center;
}

.steeping h4 {
    display: block;
    text-align: center;
}

.pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: auto;
}
.pictures figcaption {
    text-align: center;
}

.picrow1 {
    display: flex;
    justify-content: center;
}

.picrow1 img {
    height: 200px;
    width: 300px;
}

.picrow2 {
    display: flex;
    justify-content: center;
}

.picrow2 img {
    height: 200px;
    width: 300px;
    }
