
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
   
}

/*header*/

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: black;
    width: 100%;
}

header .banner {
    display: inline-flex;
    font-size: 50px;
    font-family: 'dancing script';
    font-size: 50px;
    margin-left: 15px;
}

header .links {
    display: inline-flex;
    float: right;
     }

ul li {
    display: inline-flex;
    text-decoration: underline;
}

    /* landing screen */

.Mission {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../resources/images/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
     height: 700px; 
}

.missiontext {
    text-align: center;
    width: 100%;
    background-color: black;
    
}


    /* 2nd part */

.part2 {
    display: block;
    margin: auto;
    width: 1000px;
    
    
}

.totm {
    display: block;
    text-align: center;
}

.steeping h4 {
    display: block;
    text-align: center;
}

.pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: auto;
}
.pictures figcaption {
    text-align: center;
}

.picrow1 {
    display: flex;
    justify-content: center;
}

.picrow1 img {
    height: 200px;
    width: 300px;
}

.picrow2 {
    display: flex;
    justify-content: center;
}

.picrow2 img {
    height: 200px;
    width: 300px;
    }

    /*part 3 */

.part3 {
    display: flex;
    flex-direction: column;
    background-image: url(../resources/images/img-mission-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    align-content: center;
}

.part3 h1 {
    margin-bottom: 15px;
    text-align: center;
}

.boxes {
    display: inline-flex;
    justify-content: center;
    
}
.part3 .box1 {
    text-align: center;
    margin-left: 40px;
    width: 300px;
    background-color: black;
}

.part3 .box2 {
    text-align: center;
    margin-left: 40px;
    width: 300px;
    background-color: black;
}

.part3 .box3 {
    margin-left: 40px;
    text-align: center;
    width: 300px;
    background-color: black;
}


.part4 {
    display: block;
    align-items: center;
    text-align: center;
}

footer {
    align-items: left;
    margin-left: 20px;
}
